{% extends 'header.html' %}
{% block title %}
<title>20{{season_year}} season</title>
{% endblock %}

{% block content %}

      <div class="nav">
          <h2>– SEASON - {{season_year}} –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>#</td>
                <td>player</td>
                <td>from</td>
                <td>to</td>
                <td>
                  transfer fee, <br />
                  mill. euro
                </td>
                <td>
                  transfer fee, <br />
                  mill. euro, <br />
                  by tft.com
                </td>
              </tr>
            </thead>
          </table>
        </div>
      <div class="latest-transfers">
        
        <table class="players">
        {% for i in season_transfer %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.player}}</td>
            <td>{{i.eski_club}}</td>
            <td>{{i.yangi_club}}</td>
            <td>{{i.narx}}</td>
            <td>{{i.tax_narx}}</td>
          </tr>
          {% endfor %}

        </table>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum accusantium odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet neque eveniet!</p>
      </div>
{% endblock %}