{% extends 'header.html' %}


    {% block title %}
    <title>{{ club }}</title>
    {% endblock %}

{% block content %}
<div class="nav">
    <h2>– Football Club {{ club }} –</h2>
    <table class="content-nav">
        <thead>
        <tr>
            <td>#</td>
            <td>player</td>
            <td>positsion</td>
            <td>nationality</td>
            <td>
                transfer value, <br/>
                mill. euro
            </td>
        </tr>
        </thead>
    </table>
</div>
<div class="content">
    <table class="players">
        {% for p in club_players %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{p.ism}}</td>
            <td>{{p.pozitsiya}}</td>
            <td>{{p.davlat}}</td>
            <td>{{p.narx}}</td>
        </tr>
        {% endfor %}
    </table>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
        sequi quia eos cupiditate rerum accusantium odit enim, expedita,
        architecto error dignissimos voluptatibus. Nisi illo, maiores fugit
        amet neque eveniet!
    </p>
</div>
{% endblock %}