{% extends 'header.html' %}

    {% block title %}
    <title>{{ tanlangan_davlat }}</title>
    {% endblock %}


{% block content %}

<div class="nav">

    <h2>– {{ tanlangan_davlat }} –</h2>

    <table class="content-nav"></table>
</div>

<div class="content" style="margin-top: 170px ;">
    <div class="clubs">
        {% for club in davlat_clublari %}
        <div class="club">
            <a href="/club_players/{{club.nom}}/">
                <img src="{{ club.logo.url }}" alt=""/>
                {{club.nom}}
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}