{% extends 'header.html'  %}

    {% block title %}
    <title>Top football transfers</title>
    {% endblock %}


{% block content %}

<div class="latest-transfers">
    <div class="countries">
        <a href="/clubs/"> CLUBS </a>
        <a href="/latest_transfers/"> LATEST TRANSFERS </a>
        <a href="/players/"> PLAYERS </a>
        <a href="/u20players/"> U-20 PLAYERS </a>
        <a href="./tryouts.html"> TRYOUTS </a>
        <a href="/stats/"> STATS </a>
    </div>
</div>

{% endblock %}